
/*import fonts from fonts.css file*/
@import url(./fonts.css);

*
body{
padding:0;
margin:0;
box-sizing: border-box;
width: 100%;
height: 100%;
}

/*Start Navigation*/
.header_area .main-menu .navbar{
    background: transparent;
    margin: 0rem 0rem;
}

.header_area .main-menu .navbar .navbar-brand div{
    font-family: freestyle script;
    font-size: 2rem;
    letter-spacing: 11px;
    font-weight: bolder;
    color: black;
    background-color: transparent;
        width: 238px;
        border: 5px solid grey;
        padding: 5px;
        margin: 20px;
    
}

.header_area .main-menu .nav-item .nav-link{
    font:normal bolder 15px/5px times new roman;
    text-transform: uppercase;
    padding: 1rem;
    color:rgb(0, 0, 0);
    float: right;
}

.header_area .main-menu .navbar-nav .active a{
    background: orange;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: black;
}

.header_area .main-menu .navbar-nav a:hover{
    background: orange;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/*End Navigation*/


/* Banner Area */ 
.site-main .site-banner {
    
    background: rgb(7, 40, 64);
    width: 100%;
    padding: 2.8%;
}

.site-main .site-banner .site-title h2 > span{
    color: white;
    display: block;
    font: normal bold 49px/ 60px;
    letter-spacing: 21px;
    border: 15px black;
    
}
.site-main .site-banner .site-title .para{
    color: rgb(158, 158, 158);

}
.site-main .site-banner .banner-image > img{
    margin-top: 0%;
    width: 75%;

}
/* End Banner Area */ 

/*start expertise area*/

.site-main .expertise-area{
    padding: 7rem 2rem;
}

.site-main .expertise-area .expertise-title{
    padding: 0 12rem;
}

.site-main .expertise-area .expertise-title h1{
    font-size: 35px;
    letter-spacing: 15px;
}

.site-main > .expertise-area .expertise{
    padding: 2rem 0;
    width: 15rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;

}

.site-main > .expertise-area .expertise:hover{
    background: rgb(206,162,6);
    color: whitesmoke;
}
/*end expertise area*/

/* Footer Area */ 

footer.footer-area{
    padding: 0px 0;
    background: rgb(206,162,6);
}

footer.footer-area .social h5{
    font-style: normal;
    color: whitesmoke;

}

footer.footer-area .social a > i{
    font-size:22px;
    padding: 2rem;
    color: whitesmoke;
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}


/* End Footer */ 
